@charset "UTF-8";
/* CSS Document */

body {
	padding-top: 70px;
}

.title-center {
    margin: 0 auto;
    text-align: center;
}

.table a{
    text-decoration:underline;
}

.table > tbody > tr > td {
    vertical-align:middle;
}

.table td {
	min-width:80px;
	text-align:left;
}

#pub-content {
	width: 75%;
	padding-top: 18px;
}

.table th {
	font-size:18px;
}

.navbar-fixed-top {
	background-color: #DEE0D5;
}

.nav a{
	color: #000;
    display:inline;
}

.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
  text-decoration:underline;
}

.navbar-fixed-top .navbar-nav > .active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #ebece5;
}

.navbar-fixed-top .navbar-brand {
	color:#D84E13;
	font-size: 28px;
	font-weight:500;
}

.navbar-toggle .icon-bar {
  display: block;
  background-color: rgb(255,255,255);
  margin-right:5px;
}

.container {
	max-width: 1024px;
	border-bottom:1px solid #DDD;
}

#footer {
	padding:10px;
}

.row {
	margin:0px;
}

.profile-pic {
	padding:10px;
	float:right;
    width:100%;
}

.vertical-align {
 align-items: center;
}

@media (min-width: 600px) {
 .vertical-align{
   display: flex;
 }
}

.profile-text {
	min-width: 256px;
	padding:10px;
	overflow: hidden;
	display:block;
}

.news-pic {
    width:100%;
    padding:10px;
}

#word-cloud {
    width:100%;
}

.item-pic-div {
    width:100%;
}

.item-pic {
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.item-text {
    padding: 10px;
}

.item { width: 24%; }

.item.w2 { width: 48%; }
.item.w3 { width: 65%; }
.item.w13 { width: 32%; }

.item.blue-border {
    border-radius: 20px;
    border: 4px solid #333;
    border-color: rgb(51, 181, 229);
}

.item.purple-border {
    border-radius: 20px;
    border: 4px solid #333;
    border-color: rgb(197, 139, 226); 
}

.item.red-border {
    border-radius: 20px;
    border: 4px solid #333;
    border-color: rgb(255, 83, 83); 
}

.item.green-border {
    border-radius: 20px;
    border: 4px solid #333;
    border-color: rgb(153, 204, 0); 
}

.item.orange-border {
    border-radius: 20px;
    border: 4px solid #333;
    border-color: rgb(255, 189, 39); 
}

.item-text.blue {
    background: rgb(138, 213, 240);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.item-text.purple {
    background: rgb(214, 173, 235);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.item-text.red {
    background: rgb(255, 148, 148);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.item-text.green {
    background: rgb(197, 226, 109);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.item-text.orange {
    background: rgb(255, 217, 128);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

ul.readings {
    margin-left:0;
    padding-left:0;
}

td.plan-sec-header {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}

td.side-borders {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}