@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align:center;
}

a{
	color:#000;
	text-decoration:none;
}

a:hover{
	background-color:#333;
	color:#FFF;
}
a:active{
	background-color: #666;
	color:#FFF;
}
h1{
	/*font-weight: lighter;*/
	font-size:30px;
	color:#D84E13;
	font-variant:small-caps;
	margin-left:10px;
}
h2 {
	color: #333;
	font-weight: lighter;
	font-size:20px;
	padding:0px;
	margin:0px;
}
h3{
	font-size:14px;
	font-weight: lighter;
	padding:0px;
	margin:0px;
}
p{
	font-weight: lighter;
	font-size:12px;
}
ul{
	font-weight: lighter;
	font-size:12px;
}

b strong {
font-weight:bold;
}
